{
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 120,
  "useTabs": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^(packages)|^(helpers)|^(utils)|^(middlewares)|^(controllers)|^(routes)|^(models)|^(db)|^(env-constants)|^(types)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
